.nav-sec{
    background-color: #8FCFC1;
}

.header-sec{
    display: flex;
    justify-content: space-between;
    background-color: #e7b67d;
}

a {
    text-decoration: none;
    color: black;
}

#bio{
    background-color: #93d6e2;
}

#contact{
    background-color: #93d6e2;
}

#projects{
    background-color: #93d6e2;
}

#skills{
    background-color: #93d6e2;
}

#about{
    background-color: #93d6e2;
}

#resume{
    background-color: #93d6e2;
}

#contact-info{
    background-color:#8FCFC1;
}

ul {
    list-style: none;
    margin-left: 20%;
}

li {
    display: inline-block;
    margin-left: 20px;
    text-align: right;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

img {
    position: relative;
    /* margin-left: 80%; */
}

/* #box{
    background-color: aqua;
    resize: both;
    overflow: auto;
} */

.video{
    border-radius: 16px;
}